* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
}

div.background-blur {
    width: 100vw;
    height: 100vh;
    filter: blur(15px);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div#dog-box {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.name {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.20 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 20px;
    padding: 10px 15px;
    display: none;
}

a {
    color:rgb(255, 255, 255);
    font-size: 30px;
    text-transform: capitalize;
    font-weight: 300;
    display: inline;
    cursor: pointer;
    text-decoration: none;
}

.name i {
    color:rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 900;
    display: inline;
    position: relative;
    bottom: 10px;
}

div.image {
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    -webkit-box-shadow: 5px 5px 15px 5px #000000; 
    box-shadow: 0 8px 32px 0 #000000;
    display:none;
    margin: 20px auto;
    
}
button {
    background-color: transparent;
    margin: 0;
    padding: 0;
    border: 0;
}

button#gerate-image {
    margin-top: 20px;
    padding: 0 30px;
    height: 45px;
    font-size: 20px;
    text-transform: uppercase;
    border: 0;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.8 );
    border-radius: 5px;
    color:rgb(0, 0, 0);
    cursor: pointer;
}

#previous-image, #next-image {
    display: none;
    margin:20px;
    padding: 5px;
    cursor: pointer;
    font-size: 60px;
    font-weight: 600;
    color:rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.20 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

@media screen and (max-width: 768px) {
    div.image {
        width: 300px;
        height: 300px;
    }

    a {
        font-size: 25px;
    }
}

@media screen and (max-width: 320px) {
    div.image {
        width: 250px;
        height: 250px;
    }

    .name {
        padding: 10px;
    }

    a {
        font-size: 20px;
    }
}